@media screen and (max-width: 1000px) {

  .div_fullpage {
    display: block;
  }

  /* ------------------------------------- */

  .section_left {
    border: none;
    z-index: 100;
    background-color: var(--color-opacity);
    position: sticky;
    top: 0;
    left: 0;
  }

  .nav_left {
    padding: 5px;
  }

  .nav_left ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav_left a {
    border: 1px var(--color-transparent) solid;
  }

  /* ------------------------------------- */

  .figure_bg_center {
    height: auto;
    max-height: 230px;
  }

  .div_hr {
    display: none;
  }

  .p_hr_movile {
    display: block;
  }


  /* ------------------------------------- */

  .section_right {
    display: none;
  }

  /* ------------------------------------- */

  .div_gallery {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width: 730px) {

  .li_pc {
    display: none;
  }

  .li_res {
    display: block;
  }

  .nav_left span {
    display: none;
  }

  /* ------------------------------------- */

  .div_status {
    left: 50%;
    cursor: pointer;
  }

  /* ------------------------------------- */

  .div_projects article {
    width: auto;
  }

  .div_projects figure {
    height: auto;
  }
}