:root {
  --color-base: #eeeeee;
  --color-font-1: #242327;
  --color-font-2: #5a5663;
  --color-detail: #cac8d8;
  --color-opacity: #eeeeeec4;
}

/* DARKMODE */
/* ------------------------------------- */

.darkmode {
  --color-base: #242327;
  --color-font-1: #eeeeee;
  --color-font-2: #b7b7c4;
  --color-detail: #3c3c45;
  --color-opacity: #242327c7;
}

/* GLOBAL */
/* ------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ancho {
  max-width: 1200px;
  margin: auto;
}

body {
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  color: var(--color-font-1);
  background-color: var(--color-base);
  height: 100%;
  transition: all .20s linear;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all .20s linear;
  /* filter: saturate(0); */
}

figure {
  overflow: hidden;
  transition: all .20s linear;
}

a {
  display: inline-block;
  transition: all .15s linear;
  text-decoration: none;
  cursor: pointer;
}

p {
  transition: all .15s linear;
}

/* ------------------------------------- */

.div_fullpage {}

.section_left {}

.section_center {}

.section_right {}