:root {
  --color-white: #f0f0f0;
  --color-black: #333;
  --color-grey: #c5c5c5;
}

/* ------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ancho {
  max-width: 1200px;
  margin: auto;
}

body {
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  color: var(--color-black);
  background-color: var(--color-white);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

figure {
  overflow: hidden;
}

span {
  color: var(--color-grey);
}

/* ------------------------------------- */

.section_main_left {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------------------------------------- */

.section_main_center {
  border-right: 1px var(--color-grey) solid;
  border-left: 1px var(--color-grey) solid;
}

.header_center {
  position: relative;
}

.main_center {
  text-align: center;
  height: 250px;
}

.figure_bg_center {
  height: 200px;
}

.div_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.figure_me_center {
  max-width: 200px;
  border-radius: 100%;
}

/* ------------------------------------- */

.section_main_right {}