:root {
  --color-base: #eeeeee;
  --color-font-1: #242327;
  --color-font-2: #5a5663;
  --color-detail: #c8ccd8;
  --color-opacity: #eeeeee83;
  --color-i: #687491;

}

/* DARKMODE */
/* ------------------------------------- */

.darkmode {
  --color-base: #242327;
  --color-font-1: #eeeeee;
  --color-font-2: #b7b7c4;
  --color-detail: #3c3c45;
  --color-opacity: #24232785;
}

#theme_switch i:last-child {
  display: none;
}

.darkmode #theme_switch i:first-child {
  display: none;
}

.darkmode #theme_switch i:last-child {
  display: inline-block;
}

/* GLOBAL */
/* ------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ancho {
  max-width: 1200px;
  margin: auto;
  border-right: 1px var(--color-detail) solid;
  border-left: 1px var(--color-detail) solid;
}

body {
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  color: var(--color-font-1);
  background-color: var(--color-base);
  height: 100%;
  transition: all .20s linear;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all .20s linear;
  filter: saturate(0);
}

figure {
  overflow: hidden;
  transition: all .20s linear;
}

figure:hover img {
  filter: saturate(1);
}

span {
  color: var(--color-font-2);
  transition: all .15s linear;
}

a {
  display: inline-block;
  transition: all .15s linear;
  text-decoration: none;
  cursor: pointer;
}

p {
  transition: all .15s linear;
  color: var(--color-font-2);
}

.div_page {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  height: 100vh;
}

/* ------------------------------------- */
/* LEFT */
/* ------------------------------------- */

.section_main_left {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px var(--color-detail) solid;
  position: sticky;
  top: 0;
}

.nav_left a {
  color: var(--color-font-2);
  padding: 10px;
  border: 1px #00000000 solid;
  width: 100%;
}

.nav_left a:hover,
.nav_left a:focus {
  border: 1px var(--color-detail) solid;
  color: var(--color-font-1);
}

/* ------------------------------------- */
/* CENTER */
/* ------------------------------------- */

.section_main_center {
  overflow-y: auto;
  scrollbar-width: none;
  position: relative;
}

/* .header_center {} */

.div_header_figures {
  position: relative;
}

.figure_bg_center {
  height: 200px;
  /* border-radius: 0px 0px 20px 20px; */
  background-color: var(--color-font-1);
  /* border-bottom: 1px var(--color-detail) solid; */
}

.figure_bg_center img {
  object-fit: fill;
  object-position: bottom;
}

.figure_me_center {
  max-width: 200px;
  border-radius: 100%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-base);
  transition: all .20s linear;
  /* border: 1px var(--color-detail) solid; */
}

.main_center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding-top: 130px;
  padding-bottom: 40px;
}

.typingeffect_css {
  border-right: 3px solid var(--color-font-2);
  padding-right: 5px;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.btn_cv {
  color: var(--color-font-2);
  background-color: var(--color-detail);
  padding: 8px;
  border: 1px var(--color-detail) solid;
}

.btn_cv:hover {
  background-color: var(--color-base);
  color: var(--color-font-1);
}

.copyfield {
  border: 1px var(--color-detail) solid;
  display: flex;
}

#copytext {
  padding: 10px;
}

#copybtn {
  padding: 10px;
  background-color: var(--color-detail);
  cursor: pointer;
  border-left: 1px var(--color-detail) solid;
}

#copybtn:hover {
  color: var(--color-font-1);
  background-color: var(--color-base);
}

/* TABS */
/* ------------------------------------- */

.div_center {
  text-align: center;
  margin-bottom: 10px;
}

.nav_tabs_center ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.nav_tabs_center a {
  color: var(--color-font-2);
  padding: 20px 30px;
  border-bottom: 1px var(--color-detail) solid;
}

.nav_tabs_center a:hover,
.nav_tabs_center a:focus {
  border-color: var(--color-font-2);
  color: var(--color-font-1);
}

.ul_tabs li.active {
  background-color: var(--color-detail);
}

/* TOOLS */
/* ------------------------------------- */

.section_tools {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_tools article {
  width: 200px;
}

.div_articles_tools {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 10px;
}

#toggleAll {
  color: var(--color-font-2);
  background-color: var(--color-detail);
  border: 1px var(--color-detail) solid;
  padding: 10px;
}

#toggleAll:hover {
  background-color: var(--color-base);
  color: var(--color-font-1);
}

.section_tools h2 {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px var(--color-detail) solid;
}

.div_details {
  color: var(--color-font-2);
  cursor: pointer;
  padding: 10px;
  transition: all .20s linear;
  border: 1px #00000000 solid;
  text-align: center;
}

.div_details:hover,
.div_details:focus {
  color: var(--color-font-1);
  border: 1px var(--color-detail) solid;
  color: var(--color-font-1);
}

.ul_sumary {
  display: none;
  color: var(--color-font-2);
  list-style: inside;
  padding: 0px 10px 10px;
}

.ul_sumary_alt {
  color: var(--color-font-2);
  list-style: inside;
  padding: 0px 10px 10px;
}

/* PROJECTS */
/* ------------------------------------- */

.section_projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 20px;
  padding-top: 20px;
}

.section_projects article {
  width: 300px;
}

.section_projects figure {
  position: relative;
  height: 200px;
  /* cursor: pointer; */
  border-radius: 10px 10px 0px 10px;
}

.section_projects a {
  color: var(--color-font-2);
  padding: 0 10px;
}

.div_hover_project {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-base);
  transition: all .20s linear;
  opacity: 1;
  padding: 10px;
}

.section_projects figure:hover .div_hover_project,
.section_projects figure:focus .div_hover_project {
  opacity: 1;
}

.div_hover_project a:hover,
.div_hover_project a:focus {
  color: var(--color-font-1);
}

.div_tags_project {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  color: var(--color-font-2);
  /* justify-content: start; */
  border-top: 1px var(--color-detail) solid;

}

.div_tags_project p:hover {
  color: var(--color-font-1);
}

.h3_title_project {
  text-align: center;
  padding-top: 20px;
}

.p_project_desc {
  padding: 10px;
}

/* ABOUT ME */
/* ------------------------------------- */

.section_aboutme {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 50px;
}

.section_aboutme p {
  color: var(--color-font-2);
  padding: 10px;
}

.article_imginfo_aboutme {
  display: flex;
  align-items: center;
  gap: 20px;
}

.article_imginfo_aboutme figure {
  border-radius: 10px;
  background-color: var(--color-detail);
  width: 500px;
}

.div_tags_aboutme {
  display: flex;
  flex-wrap: wrap;
  /* gap: 10px; */
  color: var(--color-font-2);
}

.div_tags_aboutme p:hover {
  color: var(--color-font-1);
}

.article_aboutme {
  border-bottom: 1px var(--color-detail) solid;
}

.article_aboutme ul {
  list-style: disc;
  padding-left: 30px;
}

.article_aboutme a {
  color: var(--color-font-2);
  text-decoration: underline;
}


/* SERVICES */
/* ------------------------------------- */

.div_wip {
  text-align: center;
  color: var(--color-font-2);
  padding: 20px;
}

/* ------------------------------------- */
/* RIGHT */
/* ------------------------------------- */

.section_main_right {
  border-left: 1px var(--color-detail) solid;
  position: sticky;
  top: 0;
}