:root {
  --color-base: #f0f0f0;
  --color-font-1: #222125;
  --color-font-2: #5c5c66;
  --color-detail: #c2c2cf;
  --color-opacity: #c2c2cfab;
  --color-detail-2: #e6e6e6;
}

/* DARKMODE */
/* ------------------------------------- */

.darkmode {
  --color-base: #222125;
  --color-font-1: #f0f0f0;
  --color-font-2: #b7b7c4;
  --color-detail: #44444b;
  --color-opacity: #44444ba9;
  --color-detail-2: #27262b;
}

#theme_switch i:last-child {
  display: none;
}

.darkmode #theme_switch i:first-child {
  display: none;
}

.darkmode #theme_switch i:last-child {
  display: inline-block;
}

/* GLOBAL */
/* ------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ancho {
  max-width: 1200px;
  margin: auto;
  border-right: 1px var(--color-detail) solid;
  border-left: 1px var(--color-detail) solid;
}

body {
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  color: var(--color-font-1);
  background-color: var(--color-base);
  height: 100%;
  transition: all .20s linear;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

figure {
  overflow: hidden;
  filter: saturate(0);
}

span {
  color: var(--color-font-2);
}

a {
  display: inline-block;
  transition: all .15s linear;
  text-decoration: none;
  cursor: pointer;
}

p {
  transition: all .15s linear;
}

.div_page {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100vh;
}

/* ------------------------------------- */
/* LEFT */
/* ------------------------------------- */

.section_main_left {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px var(--color-detail) solid;
  position: sticky;
  top: 0;
}

.nav_left a {
  color: var(--color-font-2);
  padding: 10px;
  border: 1px #00000000 solid;
  width: 100%;
}

.nav_left a:hover,
.nav_left a:focus {
  border: 1px var(--color-detail) solid;
  color: var(--color-font-1);
}

/* ------------------------------------- */
/* CENTER */
/* ------------------------------------- */

.section_main_center {
  overflow-y: auto;
  scrollbar-width: none;
}

/* .header_center {} */

.div_header_figures {
  position: relative;
}

.figure_bg_center {
  height: 150px;
  border-radius: 0px 0px 10px 10px;
  background-color: var(--color-font-1);
}

.figure_bg_center img {
  object-fit: cover;
  object-position: bottom;
}

.figure_me_center {
  max-width: 200px;
  border-radius: 100%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-base);
  transition: all .20s linear;
}

.figure_me_center:hover {
  filter: saturate(100%);
}

.main_center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding-top: 130px;
  padding-bottom: 40px;
}

.typingeffect_css {
  border-right: 3px solid var(--color-font-2);
  padding-right: 5px;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.btn_cv {
  color: var(--color-font-2);
  background-color: var(--color-detail);
  padding: 8px;
  border: 1px var(--color-detail) solid;
}

.btn_cv:hover {
  background-color: var(--color-base);
}

/* TABS */
/* ------------------------------------- */

.div_center {
  text-align: center;
  /* border: 1px red solid; */
}

.nav_tabs_center ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.nav_tabs_center a {
  color: var(--color-font-2);
  padding: 20px 30px;
  border-top: 2px var(--color-detail) solid;
}

.nav_tabs_center a:hover,
.nav_tabs_center a:focus {
  border-color: var(--color-font-2);
  color: var(--color-font-1);
}

.ul_tabs li.active {
  background-color: var(--color-detail-2);
}

/* TOOLS */
/* ------------------------------------- */

.section_tools {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 20px;
  padding-top: 10px;
}

.section_tools article {
  width: 200px;
}

.section_tools h2 {
  text-align: center;
  padding: 10px;
}

.div_details {
  color: var(--color-font-2);
  cursor: pointer;
  padding: 10px;
  transition: all .20s linear;
  border: 1px #00000000 solid;
}

.div_details:hover,
.div_details:focus {
  color: var(--color-font-1);
  border: 1px var(--color-detail) solid;
  color: var(--color-font-1);
}

.ul_sumary {
  display: none;
  color: var(--color-font-2);
  list-style: inside;
  padding: 10px;
}

/* PROJECTS */
/* ------------------------------------- */

.section_projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 20px;
  padding-top: 20px;
}

.section_projects article {
  width: 350px;
}

.section_projects figure {
  position: relative;
  height: 200px;
  cursor: pointer;
  border-radius: 10px;
}

.section_projects a {
  color: var(--color-font-2);
  padding: 0 10px;
}


.div_hover_project {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
  background-color: var(--color-opacity);
  transition: all .20s linear;
  opacity: 0;
}

.section_projects figure:hover .div_hover_project,
.section_projects figure:focus .div_hover_project {
  opacity: 1;
}

.div_hover_project a:hover,
.div_hover_project a:focus {
  color: var(--color-font-1);
}

.div_tags_project {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  color: var(--color-font-2);
  justify-content: space-evenly;
}

.div_tags_project p:hover {
  color: var(--color-font-1);
}

.h3_title_project {
  text-align: center;
  padding: 10px;
}

/* ABOUT ME */
/* ------------------------------------- */

.section_aboutme {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 50px;
}

.section_aboutme p {
  color: var(--color-font-2);
  padding: 10px;
}

.article_imginfo_aboutme {
  display: flex;
  align-items: center;
  gap: 20px;
}

.article_imginfo_aboutme figure {
  border-radius: 10px;
}

.div_tags_aboutme {
  display: flex;
  flex-wrap: wrap;
  /* gap: 10px; */
  color: var(--color-font-2);
}

.div_tags_aboutme p:hover {
  color: var(--color-font-1);
}

/* ------------------------------------- */
/* RIGHT */
/* ------------------------------------- */

.section_main_right {
  border-left: 1px var(--color-detail) solid;
  position: sticky;
  top: 0;
}